
<form action="/" method="get">
  <label for="first">First Number</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <label for="operator">Operator</label>
  <input type="text" name="operator" placeholder="Enter the operator">
  <label for="second">Second Number</label>
  <input type="text" name="second" placeholder="Enter the second number">
  <input type="submit"/> 
</form>


<% if @result %>
  <p>The result of <%= @first %> <%= @operator %> <%= @second %> is: <%= @result %></p>
<% end %>