<!DOCTYPE html>
<html>
<head>
  <title>My amazing calculator app!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
      <li><a href="/">Basic_Calc</a></li>
      <li><a href="/power">Power</a></li>
      <li><a href="/square_root">Square Root</a></li>
      <li><a href="/Bmi">Bmi</a></li>
      <li><a href="/Mortgage">Mortgage</a></li>
      <li><a href="/Trip">Trip Calc</a></li>
  </nav>
  <%= yield %>
</body>
</html>